//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 05 00:27:49 2017
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "high1" LOCATE = SITE "P138" LEVEL 1;
COMP "high2" LOCATE = SITE "P140" LEVEL 1;
COMP "high3" LOCATE = SITE "P142" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "low1" LOCATE = SITE "P24" LEVEL 1;
COMP "low2" LOCATE = SITE "P22" LEVEL 1;
COMP "low3" LOCATE = SITE "P17" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
TIMEGRP clk = BEL "mypropogater/ctr/M_ctr_q_0" BEL
        "mypropogater/ctr/M_ctr_q_1" BEL "mypropogater/ctr/M_ctr_q_2" BEL
        "mypropogater/ctr/M_ctr_q_3" BEL "mypropogater/ctr/M_ctr_q_4" BEL
        "mypropogater/ctr/M_ctr_q_5" BEL "mypropogater/ctr/M_ctr_q_6" BEL
        "mypropogater/ctr/M_ctr_q_7" BEL "mypropogater/ctr/M_ctr_q_8" BEL
        "mypropogater/ctr/M_ctr_q_9" BEL "mypropogater/ctr/M_ctr_q_10" BEL
        "mypropogater/ctr/M_ctr_q_11" BEL "mypropogater/ctr/M_ctr_q_12" BEL
        "mypropogater/ctr/M_ctr_q_13" BEL "mypropogater/ctr/M_ctr_q_14" BEL
        "mypropogater/ctr/M_ctr_q_15" BEL "mypropogater/ctr/M_ctr_q_16" BEL
        "mypropogater/ctr/M_ctr_q_17" BEL "mypropogater/ctr/M_ctr_q_18" BEL
        "mypropogater/ctr/M_ctr_q_19" BEL "mypropogater/ctr/M_ctr_q_20" BEL
        "mypropogater/ctr/M_ctr_q_21" BEL "mypropogater/ctr/M_ctr_q_22" BEL
        "mypropogater/ctr/M_ctr_q_23" BEL "mypropogater/ctr/M_ctr_q_24" BEL
        "mypropogater/ctr/M_ctr_q_25" BEL "mypropogater/ctr/M_ctr_q_26" BEL
        "mypropogater/ctr/M_ctr_q_25_1" BEL "mypropogater/ctr/M_ctr_q_26_1"
        BEL "mypropogater/ctr/M_ctr_q_25_2" BEL
        "mypropogater/ctr/M_ctr_q_26_2" BEL "myrandonmizer/M_seed_q_31" BEL
        "myrandonmizer/M_seed_q_30" BEL "myrandonmizer/M_seed_q_29" BEL
        "myrandonmizer/M_seed_q_28" BEL "myrandonmizer/M_seed_q_27" BEL
        "myrandonmizer/M_seed_q_26" BEL "myrandonmizer/M_seed_q_25" BEL
        "myrandonmizer/M_seed_q_24" BEL "myrandonmizer/M_seed_q_23" BEL
        "myrandonmizer/M_seed_q_22" BEL "myrandonmizer/M_seed_q_21" BEL
        "myrandonmizer/M_seed_q_20" BEL "myrandonmizer/M_seed_q_19" BEL
        "myrandonmizer/M_seed_q_18" BEL "myrandonmizer/M_seed_q_17" BEL
        "myrandonmizer/M_seed_q_16" BEL "myrandonmizer/M_seed_q_15" BEL
        "myrandonmizer/M_seed_q_14" BEL "myrandonmizer/M_seed_q_13" BEL
        "myrandonmizer/M_seed_q_12" BEL "myrandonmizer/M_seed_q_11" BEL
        "myrandonmizer/M_seed_q_10" BEL "myrandonmizer/M_seed_q_9" BEL
        "myrandonmizer/M_seed_q_8" BEL "myrandonmizer/M_seed_q_7" BEL
        "myrandonmizer/M_seed_q_6" BEL "myrandonmizer/M_seed_q_5" BEL
        "myrandonmizer/M_seed_q_4" BEL "myrandonmizer/M_seed_q_3" BEL
        "myrandonmizer/M_seed_q_2" BEL "myrandonmizer/M_seed_q_1" BEL
        "myrandonmizer/M_seed_q_0" BEL "myrandonmizer/M_state_q" BEL
        "myrandonmizer/M_state_q_1" BEL "myrandonmizer/M_state_q_2" BEL
        "myrandonmizer/M_state_q_3" BEL "myrandonmizer/M_state_q_4" BEL
        "myrandonmizer/pn_gen/M_w_q_31" BEL "myrandonmizer/pn_gen/M_w_q_30"
        BEL "myrandonmizer/pn_gen/M_w_q_29" BEL
        "myrandonmizer/pn_gen/M_w_q_28" BEL "myrandonmizer/pn_gen/M_w_q_27"
        BEL "myrandonmizer/pn_gen/M_w_q_26" BEL
        "myrandonmizer/pn_gen/M_w_q_25" BEL "myrandonmizer/pn_gen/M_w_q_24"
        BEL "myrandonmizer/pn_gen/M_w_q_23" BEL
        "myrandonmizer/pn_gen/M_w_q_22" BEL "myrandonmizer/pn_gen/M_w_q_21"
        BEL "myrandonmizer/pn_gen/M_w_q_20" BEL
        "myrandonmizer/pn_gen/M_w_q_19" BEL "myrandonmizer/pn_gen/M_w_q_18"
        BEL "myrandonmizer/pn_gen/M_w_q_17" BEL
        "myrandonmizer/pn_gen/M_w_q_16" BEL "myrandonmizer/pn_gen/M_w_q_15"
        BEL "myrandonmizer/pn_gen/M_w_q_14" BEL
        "myrandonmizer/pn_gen/M_w_q_13" BEL "myrandonmizer/pn_gen/M_w_q_12"
        BEL "myrandonmizer/pn_gen/M_w_q_11" BEL
        "myrandonmizer/pn_gen/M_w_q_10" BEL "myrandonmizer/pn_gen/M_w_q_9" BEL
        "myrandonmizer/pn_gen/M_w_q_8" BEL "myrandonmizer/pn_gen/M_w_q_7" BEL
        "myrandonmizer/pn_gen/M_w_q_6" BEL "myrandonmizer/pn_gen/M_w_q_5" BEL
        "myrandonmizer/pn_gen/M_w_q_4" BEL "myrandonmizer/pn_gen/M_w_q_3" BEL
        "myrandonmizer/pn_gen/M_w_q_2" BEL "myrandonmizer/pn_gen/M_w_q_1" BEL
        "myrandonmizer/pn_gen/M_w_q_0" BEL "myrandonmizer/pn_gen/M_x_q_31" BEL
        "myrandonmizer/pn_gen/M_x_q_28" BEL "myrandonmizer/pn_gen/M_x_q_27"
        BEL "myrandonmizer/pn_gen/M_x_q_26" BEL
        "myrandonmizer/pn_gen/M_x_q_24" BEL "myrandonmizer/pn_gen/M_x_q_23"
        BEL "myrandonmizer/pn_gen/M_x_q_21" BEL
        "myrandonmizer/pn_gen/M_x_q_18" BEL "myrandonmizer/pn_gen/M_x_q_17"
        BEL "myrandonmizer/pn_gen/M_x_q_15" BEL
        "myrandonmizer/pn_gen/M_x_q_14" BEL "myrandonmizer/pn_gen/M_x_q_12"
        BEL "myrandonmizer/pn_gen/M_x_q_9" BEL "myrandonmizer/pn_gen/M_x_q_8"
        BEL "myrandonmizer/pn_gen/M_x_q_7" BEL "myrandonmizer/pn_gen/M_x_q_4"
        BEL "myrandonmizer/pn_gen/M_x_q_3" BEL "myrandonmizer/pn_gen/M_x_q_2"
        BEL "myrandonmizer/pn_gen/M_x_q_0" BEL "myrandonmizer/pn_gen/M_y_q_31"
        BEL "myrandonmizer/pn_gen/M_y_q_29" BEL
        "myrandonmizer/pn_gen/M_y_q_28" BEL "myrandonmizer/pn_gen/M_y_q_27"
        BEL "myrandonmizer/pn_gen/M_y_q_26" BEL
        "myrandonmizer/pn_gen/M_y_q_24" BEL "myrandonmizer/pn_gen/M_y_q_23"
        BEL "myrandonmizer/pn_gen/M_y_q_22" BEL
        "myrandonmizer/pn_gen/M_y_q_18" BEL "myrandonmizer/pn_gen/M_y_q_15"
        BEL "myrandonmizer/pn_gen/M_y_q_12" BEL
        "myrandonmizer/pn_gen/M_y_q_11" BEL "myrandonmizer/pn_gen/M_y_q_10"
        BEL "myrandonmizer/pn_gen/M_y_q_8" BEL "myrandonmizer/pn_gen/M_y_q_7"
        BEL "myrandonmizer/pn_gen/M_y_q_6" BEL "myrandonmizer/pn_gen/M_y_q_4"
        BEL "myrandonmizer/pn_gen/M_y_q_3" BEL "myrandonmizer/pn_gen/M_y_q_1"
        BEL "myrandonmizer/pn_gen/M_z_q_31" BEL
        "myrandonmizer/pn_gen/M_z_q_30" BEL "myrandonmizer/pn_gen/M_z_q_26"
        BEL "myrandonmizer/pn_gen/M_z_q_24" BEL
        "myrandonmizer/pn_gen/M_z_q_23" BEL "myrandonmizer/pn_gen/M_z_q_20"
        BEL "myrandonmizer/pn_gen/M_z_q_19" BEL
        "myrandonmizer/pn_gen/M_z_q_18" BEL "myrandonmizer/pn_gen/M_z_q_17"
        BEL "myrandonmizer/pn_gen/M_z_q_15" BEL
        "myrandonmizer/pn_gen/M_z_q_14" BEL "myrandonmizer/pn_gen/M_z_q_10"
        BEL "myrandonmizer/pn_gen/M_z_q_9" BEL "myrandonmizer/pn_gen/M_z_q_7"
        BEL "myrandonmizer/pn_gen/M_z_q_4" BEL "myrandonmizer/pn_gen/M_z_q_3"
        BEL "myrandonmizer/pn_gen/M_z_q_0" BEL "myrandonmizer/pn_gen/M_x_q_30"
        BEL "myrandonmizer/pn_gen/M_x_q_29" BEL
        "myrandonmizer/pn_gen/M_x_q_25" BEL "myrandonmizer/pn_gen/M_x_q_22"
        BEL "myrandonmizer/pn_gen/M_x_q_20" BEL
        "myrandonmizer/pn_gen/M_x_q_19" BEL "myrandonmizer/pn_gen/M_x_q_16"
        BEL "myrandonmizer/pn_gen/M_x_q_13" BEL
        "myrandonmizer/pn_gen/M_x_q_11" BEL "myrandonmizer/pn_gen/M_x_q_10"
        BEL "myrandonmizer/pn_gen/M_x_q_6" BEL "myrandonmizer/pn_gen/M_x_q_5"
        BEL "myrandonmizer/pn_gen/M_x_q_1" BEL "myrandonmizer/pn_gen/M_y_q_30"
        BEL "myrandonmizer/pn_gen/M_y_q_25" BEL
        "myrandonmizer/pn_gen/M_y_q_21" BEL "myrandonmizer/pn_gen/M_y_q_20"
        BEL "myrandonmizer/pn_gen/M_y_q_19" BEL
        "myrandonmizer/pn_gen/M_y_q_17" BEL "myrandonmizer/pn_gen/M_y_q_16"
        BEL "myrandonmizer/pn_gen/M_y_q_14" BEL
        "myrandonmizer/pn_gen/M_y_q_13" BEL "myrandonmizer/pn_gen/M_y_q_9" BEL
        "myrandonmizer/pn_gen/M_y_q_5" BEL "myrandonmizer/pn_gen/M_y_q_2" BEL
        "myrandonmizer/pn_gen/M_y_q_0" BEL "myrandonmizer/pn_gen/M_z_q_29" BEL
        "myrandonmizer/pn_gen/M_z_q_28" BEL "myrandonmizer/pn_gen/M_z_q_27"
        BEL "myrandonmizer/pn_gen/M_z_q_25" BEL
        "myrandonmizer/pn_gen/M_z_q_22" BEL "myrandonmizer/pn_gen/M_z_q_21"
        BEL "myrandonmizer/pn_gen/M_z_q_16" BEL
        "myrandonmizer/pn_gen/M_z_q_13" BEL "myrandonmizer/pn_gen/M_z_q_12"
        BEL "myrandonmizer/pn_gen/M_z_q_11" BEL "myrandonmizer/pn_gen/M_z_q_8"
        BEL "myrandonmizer/pn_gen/M_z_q_6" BEL "myrandonmizer/pn_gen/M_z_q_5"
        BEL "myrandonmizer/pn_gen/M_z_q_2" BEL "myrandonmizer/pn_gen/M_z_q_1"
        BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

